* {
    border: 1px solid red;
}
body {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0px;
}

.header {
    color: white;
    background-color: #1F2937;
}

.headerlinks {
    margin: 10px;
}

.body {

}

.quote {

}

.signup {}

.footer {

}