* {
    border: 1px solid red;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0px;
}

/* navbar section */

.header {
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 18px;
}

.navbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

.navbarlogo {
    color: white;
    font-size: 24px;
}

.navbarlinks {
    margin: 10px;
    margin-right: 0px;
    display: flex;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* hero section */

.herocontainer {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.herosubcontainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    max-width: 400px;
}

.title {
    margin: 0px;
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.button{
    width: 120px;
    border-radius: 5px;
    color: white;
    background-color: #3882F6;
}

/* body section */

.body {
    color: black;
    text-align: center;
}

.bodycontainer {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 50px;
}

.bodysubcontainer {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.pic {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
}


.quote {

}

.signup {}

.footer {

}